<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-white px-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navigation">
      <section>
          <i class="icon-brand image-dimension"></i>
          <a class="navbar-brand__text pl-2" [routerLink]="['/homepage']"><img src="assets/icons/Logo.svg"/></a>
          <a class="pl-5" [routerLink]="['/homepage']">Home</a>
          <a class="pl-5" [routerLink]="['/all-plugin']">API Plugin</a>
          <a class="pl-5" [routerLink]="['/homepage']">BOT Template</a>
      </section>
      <ul class="navbar-nav mt-2 mt-lg-0 align-items-center" *ngIf="!isLogout">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/my-plugin']">My plugin</a>
          </li>
          <li class="nav-item px-4">|</li>
          <li class="nav-item dropdown">
            <div dropdown>
                <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink">
                    <i dropdownToggle class="rounded-circle bg-secondary d-inline-block"></i>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Administrtor</a>
                    <hr class="my-2"/>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
          </li>
      </ul>

      <ul class="navbar-nav mt-2 mt-lg-0 align-items-center" *ngIf="isLogout">
        <li class="nav-item">
            <button class="btn btn-primary" (click)="submitLogin()">Login</button>
        </li>
    </ul>
  </div>
</nav>
