<section class="d-flex config-header mb-3">
    <span class="text-uppercase bg-white pr-3">plugin config</span>
</section>
<section class="container-fluid">
    <section class="row">
        <form class="frm-config form-inline col-12 col-md-8">
            <section class="container-fluid mb-4">
                <div class="row">
                    <div class="form-group col-6 pl-0">
                        <label for="txtTitleName" class="col-12 justify-content-between p-0">Form title name
                        </label>
                        <input type="text" class="form-control w-100" id="txtTitleName" placeholder="Example input">
                    </div>
                    <div class="form-group col-6 p-0">
                        <label for="txtButtonName" class="col-12 justify-content-between p-0">Form button name
                        </label>
                        <input type="text" class="form-control w-100" id="txtButtonName" placeholder="Another input">
                    </div>
                </div>
            </section>
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                <input type="checkbox" class="custom-control-input" id="firstName">
                <label class="custom-control-label title" for="firstName">First name</label>
            </div>
            <section class="container-fluid mb-4">
                <div class="row ml-2">
                    <div class="form-group col-6 pl-0">
                        <label for="txtTitleName" class="col-12 justify-content-between p-0">First name</label>
                        <input type="text" class="form-control w-100" id="txtTitleName" placeholder="Example input">
                    </div>
                    <div class="form-group col-6 pl-0">
                        <label for="txtButtonName" class="col-12 justify-content-between p-0">Attribute</label>
                        <input type="text" class="form-control w-100" id="txtButtonName" placeholder="Another input">
                    </div>
                </div>
            </section>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="lastName">
                <label class="custom-control-label title" for="lastName">Last name</label>
            </div>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="birthday">
                <label class="custom-control-label title" for="birthday">Birthday</label>
            </div>
            <section class="container-fluid mb-4">
                <div class="row ml-2">
                    <div class="form-group col-4 pl-0">
                        <label for="txtTitleName" class="col-12 justify-content-between p-0">First name</label>
                        <input type="text" class="form-control w-100" id="txtTitleName" placeholder="Example input">
                    </div>
                    <div class="form-group col-4  pl-0">
                        <label for="txtButtonName" class="col-12 justify-content-between p-0">Attribute</label>
                        <input type="text" class="form-control w-100" id="txtButtonName" placeholder="Another input">
                    </div>
                    <div class="form-group col-4  pl-0">
                        <label for="txtButtonName" class="col-12 justify-content-between p-0">Option</label>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </section>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="email">
                <label class="custom-control-label title" for="email">Email</label>
            </div>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="phone">
                <label class="custom-control-label title" for="phone">Phone</label>
            </div>
            <section class="container-fluid mb-4">
                <div class="row ml-2">
                    <div class="form-group col-4 pl-0">
                        <label for="txtTitleName" class="col-12 justify-content-between p-0">Name</label>
                        <input type="text" class="form-control w-100" id="txtTitleName" placeholder="Example input">
                    </div>
                    <div class="form-group col-l pl-0">
                        <label for="txtButtonName" class="col-12 justify-content-between p-0">Attribute</label>
                        <input type="text" class="form-control w-100" id="txtButtonName" placeholder="Another input">
                    </div>
                    <div class="form-group col-4">
                        <label for="txtButtonName" class="col-12 justify-content-between p-0">Validate</label>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </section>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="address">
                <label class="custom-control-label title" for="address title">Address</label>
            </div>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="location">
                <label class="custom-control-label title" for="location title">Location</label>
            </div>
            <section class="container-fluid mb-4">
                <div class="row ml-2">
                    <div class="form-group col-3 pl-0">
                        <label for="txtName" class="col-12 justify-content-between p-0">Name</label>
                        <input type="text" class="form-control w-100" id="txtName" placeholder="Example input">
                    </div>
                    <div class="form-group col-3 pl-0">
                        <label for="txtProvice" class="col-12 justify-content-between p-0">Provice attribute
                        </label>
                        <input type="text" class="form-control w-100" id="txtProvice" placeholder="Another input">
                    </div>
                    <div class="form-group col-3 pl-0">
                        <label for="txtDistrict" class="col-12 justify-content-between p-0">District attribute
                        </label>
                        <input type="text" class="form-control w-100" id="txtDistrict" placeholder="Example input">
                    </div>
                    <div class="form-group col-3 pl-0">
                        <label for="txtWard" class="col-12 justify-content-between p-0">Ward attribute</label>
                        <input type="text" class="form-control w-100" id="txtWard" placeholder="Another input">
                    </div>
                </div>
            </section>
            <div class="custom-control custom-checkbox d-flex justify-content-start mb-2 w-100">
                <input type="checkbox" class="custom-control-input" id="note">
                <label class="custom-control-label title" for="note">Note</label>
            </div>
            <section class="container-fluid mb-4">
                <div class="row ml-2">
                    <div class="form-group col-6 pl-0">
                        <label for="txtName" class="col-12 justify-content-between p-0">Name</label>
                        <input type="text" class="form-control w-100" id="txtName" placeholder="Example input">
                    </div>
                    <div class="form-group col-6 pl-0">
                        <label for="txtProvice" class="col-12 justify-content-between p-0">Atribute</label>
                        <input type="text" class="form-control w-100" id="txtProvice" placeholder="Another input">
                    </div>
                </div>
            </section>
        </form>
        <section class="config-device col-12 col-md-4">
            <header class="p-3 d-flex align-items-center justify-content-between">
                <span>Preview</span>
                <span class="config-device__icons">
                    <i class="icon-monitor icon-selected"></i>
                    <i class="icon-mobile"></i>
                </span>
                <span></span>
            </header>
            <main class="mt-3">
                <section class="config-device__image m-auto position-relative">
                    <span></span>
                </section>
            </main>
        </section>
    </section>
</section>
<section class="d-flex config-header mb-3">
    <span class="text-uppercase bg-white pr-3">connect</span>
</section>
<section class="connect-section">
    <div class="row my-4">
        <div class="col-2">
            <figure class="position-relative">
                <label class="switch mr-3">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <span class="connect-text">Chat fuel</span>
            </figure>
        </div>
        <div class="col-3">
            <section>
                <label for="txtTitleName" class="col-12 justify-content-between p-0">BOT ID</label>
                <input type="text" class="form-control w-100" id="txtTitleName" placeholder="">
            </section>
        </div>
        <div class="col-3">
            <section>
                <label for="txtTitleName" class="col-12 justify-content-between p-0">BOT Token</label>
                <input type="text" class="form-control w-100" id="txtTitleName" placeholder="">
            </section>
        </div>
        <div class="col-4">
            <section>
                <label for="txtTitleName" class="col-12 justify-content-between p-0">URL</label>
                <input type="text" class="form-control w-100" id="txtTitleName" placeholder="">
            </section>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-2">
            <figure class="position-relative">
                <label class="switch mr-3">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="connect-text">Chat fuel</span>
            </figure>
        </div>
        <div class="col-3">
            <section></section>
        </div>
        <div class="col-3">
            <section></section>
        </div>
        <div class="col-4">
            <section></section>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-2">
            <figure class="position-relative">
                <label class="switch mr-3">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <span class="connect-text">Chat fuel</span>
            </figure>
        </div>
        <div class="col-3">
            <label for="txtTitleName" class="col-12 justify-content-between p-0">BOT ID</label>
            <input type="text" class="form-control w-100" id="txtTitleName" placeholder="">
        </div>
        <div class="col-3">
            <label for="txtTitleName" class="col-12 justify-content-between p-0">BOT Token</label>
            <input type="text" class="form-control w-100" id="txtTitleName" placeholder="">
        </div>
        <div class="col-4">
            <label for="txtTitleName" class="col-12 justify-content-between p-0">URL</label>
            <input type="text" class="form-control w-100" id="txtTitleName" placeholder="">
        </div>
    </div>
</section>