<section class="search d-flex justify-content-between my-5">
    <div class="form-group has-search position-relative mb-0">
        <span class="icon-search form-control-feedback"></span>
        <input type="text" class="form-control border-0" placeholder="Type your search...">
    </div>
    <form class="form-inline position-relative bg-white pl-3">
        <div class="form-group">
            <!--<input type="date" class="form-control mr-2" id="email" value="date">-->
            <input type="text" class="form-control position-relative customCalendar" id="txtCalender" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="<div id='calender-container'>text text</div>" data-original-title=""
                title="" placeholder="Date">
        </div>
    </form>
</section>
<ul class="list-group list-group-flush list-group-account">
    <li class="list-group-item bg-header py-3 border-0">
        <div class="row align-items-center">
            <div class="col-4">Name</div>
            <div class="col-3">Email</div>
            <div class="col-4">Function</div>
            <div class="col-1"></div>
        </div>

    </li>
    <li class="list-group-item">

        <div class="row align-items-center">
            <div class="col-4">Nguyễn Thanh Hưng</div>
            <div class="col-3">nguyenhung@gmail.com</div>
            <div class="col-4">
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Config</span>
                </button>
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Data</span>
                </button>
                <button type="button" class="btn btn-action-preview text-white">
                    <strong></strong>
                    <span class="pl-2">User</span>
                </button>
            </div>
            <div class="col-1 d-flex">
                <i class="icon-folder icon-delete"></i>
            </div>
        </div>

    </li>
    <li class="list-group-item">

        <div class="row align-items-center">
            <div class="col-4">Nguyễn Thanh Hưng</div>
            <div class="col-3">nguyenhung@gmail.com</div>
            <div class="col-4">
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Config</span>
                </button>
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Data</span>
                </button>
                <button type="button" class="btn btn-action-preview text-white">
                    <strong></strong>
                    <span class="pl-2">User</span>
                </button>
            </div>
            <div class="col-1 d-flex">
                <i class="icon-folder icon-delete"></i>
            </div>
        </div>

    </li>
    <li class="list-group-item">

        <div class="row align-items-center">
            <div class="col-4">Nguyễn Thanh Hưng</div>
            <div class="col-3">nguyenhung@gmail.com</div>
            <div class="col-4">
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Config</span>
                </button>
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Data</span>
                </button>
                <button type="button" class="btn btn-action-preview text-white">
                    <strong></strong>
                    <span class="pl-2">User</span>
                </button>
            </div>
            <div class="col-1 d-flex">
                <i class="icon-folder icon-delete"></i>
            </div>
        </div>

    </li>
    <li class="list-group-item">

        <div class="row align-items-center">
            <div class="col-4">Nguyễn Thanh Hưng</div>
            <div class="col-3">nguyenhung@gmail.com</div>
            <div class="col-4">
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Config</span>
                </button>
                <button type="button" class="btn btn-action-checkmark text-white">
                    <strong class="checkmark"></strong>
                    <span class="pl-2">Data</span>
                </button>
                <button type="button" class="btn btn-action-preview text-white">
                    <strong></strong>
                    <span class="pl-2">User</span>
                </button>
            </div>
            <div class="col-1 d-flex">
                <i class="icon-folder icon-delete"></i>
            </div>
        </div>

    </li>
</ul>
<footer class="d-flex justify-content-between mt-3 px-4">
    <button type="button" class="btn btn-action-preview text-white btn-download" style="height: 34px">
        <span>Dowload</span>
    </button>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</footer>