<section id="dashboard" cdkDropListGroup>
  <section class="search d-flex justify-content-between my-5 px-4">
    <div class="form-group has-search position-relative">
      <form [formGroup]="search" (ngSubmit)="onSearch()">
        <span class="icon-search form-control-feedback"></span>
        <input type="text" class="form-control border-0" placeholder="Type your search..." formControlName="query">
      </form>
    </div>
    <p class="view">
      <i class="fas fa-plus" (click)="addNewGroup()"></i>
      <i class="fas fa-list-ul" (click)="itemCollapse = undefined"></i>
      <i class="fas fa-folder" (click)="itemCollapse = -1"></i>
    </p>
  </section>
  <div
  cdkDropList
  id="list-pluginuser"
  [cdkDropListData]="pluginUsers"
  class="example-list"
  (cdkDropListDropped)="drop($event)"> 
    <div class="card-body">
      <ul class="list-group list-group-horizontal flex-column">
        <li class="list-group-item w-100 px-2" [cdkDragData]="pluginUser" *ngFor="let pluginUser of pluginUsers, let index = index" cdkDrag>
          <article class="col-12  d-flex align-items-center">
            <section class="col-3 p-0">
              <p class="m-0 font-weight-bold">
                <span class="text-center icon-folder icon-title-folder-header mr-2">
                  <i></i>
                </span>
                <a [routerLink]="['/my-plugin', pluginUser?.id]">{{pluginUser?.name || pluginUser?.plugin?.name  | slice : 0:20}}</a>
              </p>
              <p class="m-0 more-item-number__detail">
                <i class="icon-folder icon-title-folder mr-2"></i>ID: {{pluginUser?.id}}</p>
            </section>
            <section class="col-3 p-0">
              <p class="m-0 more-item-number__type">{{pluginUser?.plugin?.type}}</p>
              <p class="m-0 more-item-number__detail">11/03/19</p>
            </section>
            <section class="col-2 p-0">
              <p class="mb-0">
                <span class="btn-dashboard-type btn-type-free position-relative d-block">
                  <strong></strong>
                  <span>{{pluginUser?.status}}</span>
                </span>
              </p>
              <p class="m-0 more-item-number__detail">
                <small>Ex: 11/03/2019</small>
              </p>
            </section>
            <section class="col-3 p-0">
              <p class="p-0 d-flex align-items-center mb-0 justify-content-end">
                <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                <i class="rounded-circle more-item-number text-center d-inline-block image-dimension mr-2">+5</i>
              </p>
            </section>
            <div dropdown>
              <div class="dropdown-custom p-0 d-flex align-items-center justify-content-end">
                  <i dropdownToggle class="icon-action d-inline-block" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                    <a class="dropdown-item px-0 py-2 text-center" href="#">Move</a>
                    <a class="dropdown-item p-0 text-center" href="#">Clone</a>
                    <hr />
                    <a class="dropdown-item p-0 text-center text-danger" (click)="deletePluginUser(pluginUser.id)">Delete</a>
                  </div>
                </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <main>
    <div id="accordion">
      <div class="card border-0" *ngFor="let group of groups, let index = index">
        <div class="card-header bg-white border-0">
          <p class="d-flex justify-content-between mb-0 pb-2 folder-header">
            <a class="card-link collapsed text-uppercase position-relative bg-white pr-3" (click)="collapseOne = !collapseOne" aria-expanded="false">
              <form [formGroup]="form">
                <input type="text" class="form-control d-inline-block border-0" [value]="group?.name" (click)="selectedGroupId = group.id; updateForm(group?.name)"
                  *ngIf="selectedGroupId != group.id">
                <input type="text" class="form-control d-inline-block border-0" formControlName="name" (focusout)="updateGroup(group?.id)"
                  *ngIf="selectedGroupId == group.id">
                <span class="badge ml-2">{{group?.pluginUsers?.length}}</span>
              </form>
            </a>

            <span class="d-none align-items-center position-relative bg-white pl-3 group-actions">
              <i class="icon-folder icon-delete" (click)="deleteGroup(group?.id)"></i>
              <i class="icon-folder icon-arrow-down"></i>
              <i class="icon-folder icon-arrow-up"></i>
              <a class="card-link collapsed text-uppercase position-relative bg-white" style="top: 3px;">
                <i *ngIf="itemCollapse == index" class="icon-folder icon-expand" (click)="itemCollapse = undefined"></i>
                <i *ngIf="itemCollapse != index" class="icon-folder icon-expand icon-collapse" (click)="itemCollapse = index"></i>
              </a>
            </span>
          </p>
        </div>

        <div [collapse]="itemCollapse == index || itemCollapse == -1" class="collapse area-pluginuser" style=""
        cdkDropList
        [cdkDropListData]="group?.pluginUsers"
        id="{{group?.id}}"
        (cdkDropListDropped)="drop($event)"> 
          <div class="card-body">
            <ul class="list-group list-group-horizontal flex-column">
              <li class="list-group-item w-100 px-2" [cdkDragData]="item" *ngFor="let item of group?.pluginUsers" cdkDrag>
                <article class="col-12  d-flex align-items-center">
                  <section class="col-3 p-0">
                    <p class="m-0 font-weight-bold">
                      <span class="text-center icon-folder icon-title-folder-header mr-2">
                        <i></i>
                      </span>
                      <a [routerLink]="['/my-plugin', item?.id]">{{item?.name || item?.plugin?.name | slice: 0:20}}</a>
                    </p>
                    <p class="m-0 more-item-number__detail">
                      <i class="icon-folder icon-title-folder mr-2"></i>ID: {{item?.id}}</p>
                  </section>
                  <section class="col-3 p-0">
                    <p class="m-0 more-item-number__type">{{item?.plugin?.type}}</p>
                    <p class="m-0 more-item-number__detail">11/03/19</p>
                  </section>
                  <section class="col-2 p-0">
                    <p class="mb-0">
                      <span class="btn-dashboard-type btn-type-free position-relative d-block">
                        <strong></strong>
                        <span>{{item?.status}}</span>
                      </span>
                    </p>
                    <p class="m-0 more-item-number__detail">
                      <small>Ex: 11/03/2019</small>
                    </p>
                  </section>
                  <section class="col-3 p-0">
                    <p class="p-0 d-flex align-items-center mb-0 justify-content-end">
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle more-item-number text-center d-inline-block image-dimension mr-2">+5</i>
                    </p>
                  </section>
                  <div dropdown>
                    <div class="dropdown-custom p-0 d-flex align-items-center justify-content-end">
                        <i dropdownToggle class="icon-action d-inline-block" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                          <a class="dropdown-item px-0 py-2 text-center" href="#">Move</a>
                          <a class="dropdown-item p-0 text-center" href="#">Clone</a>
                          <hr />
                          <a class="dropdown-item p-0 text-center text-danger" (click)="deletePluginUser(item?.id)">Delete</a>
                        </div>
                      </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>