
.customType1{
  width: 20px;
  height: 20px;
}
.customIcon1{    
  /* background: url('../icons/Oval\ Copy\ 2@3x.svg'); */
  background-size: cover;
  display: block;    
}
.customIcon2{
  /* background: url('../icons/Oval Copy@3x.svg'); */
  background-size: cover;
  display: block;
}
.customIcon3{
  /* background: url('../icons/Oval@3x.svg'); */
  background-size: cover;
  display: block;
}

.list-channels__item article{
  overflow: hidden;    
}
/* .list-channels__item section.item-description{
  top:304px;
}
.list-channels__item article:hover section.item-description{
  animation: mymove 1s;    
}
@-webkit-keyframes mymove {
  from {top: 304px;}
  to {top: 0px;}
} */


.wrapContent{
    height: inherit;
    top:322px;
}
.wrapContent section{
    height: inherit;
    
}
.list-channels__item article:hover{
  background: linear-gradient(180deg, rgba(49,63,33,0.5) 0%, #313F21 100%);        
}
.list-channels__item article:hover .wrapContent{
    top:0;      
    /* background: linear-gradient(180deg, rgba(49,63,33,0.5) 0%, #313F21 100%);       */
    background: url('../images/bgHover.png') repeat-x center bottom;
    background-size: cover;
    transition: top 1.5s;

}
