html, *, input {
	font-family: 'Montserrat', sans-serif !important;
	line-height: 18px;
}

.form-control:focus {
	box-shadow: none;
}

.image-dimension {
	height: 30px;
	width: 30px;
}

#navigation ul li a{
	color: #303132;	font-size: 14px;	font-weight: 500;	line-height: 18px;
}

.icon-brand {
	background-color: #2A9DDE;
}

.navbar-brand__text {
	color: #2F4365;
	/* background: url('../icons/logo.svg') no-repeat; */
}

.navbar__location {
	color: #2A9DDE;
	font: Bold 16px/20px Montserrat;
	position: relative;
}

.navbar__location:before {
	content: '';
	width: 20%;
	height: 2px;
	display: inline-block;
	background-color: #2A9DDE;
	position: absolute;
	bottom: -5px;
	left: 55%;
}

#navigation, .navbar  {
	padding: 0 30px;
}

.navbar {
	height: 60px;
	border-bottom: 1px solid #DBE9F1;
}

#navbarDropdownMenuLink i{
	height: 30px;
	width: 30px;
}

.dropdown-item {
	color: #303132;
	font-size: 14px;
}

[aria-labelledby="actions"].dropdown-menu {
	min-width: 5rem;
}

.collapse ul {
	/*border-bottom: 3px solid #DBE9F1;*/
}

i.icon-action {
	width: 16px;
	height: 16px;
	background: url('../icons/actions.png') no-repeat;
}

#accordion .card-header a .badge {
	box-sizing: border-box;
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid #97A1B2;
	border-radius: 10px;
	color: #2F4365;
	opacity: 0.5;
}

.icon-search {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 8px;
	background: url('../icons/icon-search.png') no-repeat;
	position: absolute;
	top: 6px;
}

.search input {
	padding-left: 40px;
	color: #C0C0C0;
	font-size: 14px;
}

.icon-folder {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 8px;
}

i.icon-folder.icon-delete {
	background: url('../icons/trash.svg') no-repeat;
	cursor: pointer;
}

i.icon-folder.icon-arrow-up {
	background: url('../icons/icon-arrow-up.png') no-repeat;
}

i.icon-folder.icon-arrow-down {
	background: url('../icons/icon-arrow-down.png') no-repeat;
}

i.icon-folder.icon-expand.icon-collapse {
	background: url('../icons/icon-collapse.png') no-repeat;
}

i.icon-folder.icon-title-folder {
	background: url('../icons/icon-title-folder.svg') no-repeat;
	width: 20px;
	height: 20px;
}

.icon-title-folder-header {
	width: 20px;
}

.icon-folder.icon-title-folder-header i {
	background-color: #00A200;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	display: inline-block;
}

i.icon-folder.icon-expand {
	background: url('../icons/icon-expand.png') no-repeat;
}

p.folder-header {
	border-bottom: 1px solid #DBE9F1;
}

p.folder-header a, p.folder-header span {
	top: 10px;
}

p.folder-header a input {
	opacity: 0.5;
	color: #2F4365;
	font-size: 16px;
	line-height: 20px;
	border: 0;
	width: 125px;
}

.more-item-number {
	background-color: #DBE9F1;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  	position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: -1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.list-navigation li a {
	color: #8D8D8D;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px;
}

.list-navigation li.active a {
	color: #2A9DDE;
}

.list-group-account li {
	color: #303132;	font-family: Montserrat;	font-size: 14px;	line-height: 18px;
}

.btn-action-preview {
	border-radius: 2px;
	background-color: #2A9DDE;
  	width: 94px;
}

.btn-action-preview strong {
	position: relative;
    width: 16px;
    height: 14px;
    display: inline-block;
    top: 2px;
}

.btn-action-preview strong:before,
.btn-action-preview strong:after{
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.25s ease-out;
}

.btn-action-preview strong:before{
    top: 0;
    left: 50%;
    width: 3px;
    height: 96%;
    margin-left: -2px;
}

.btn-action-preview strong:after{
    top: 50%;
    left: 0;
    width: 96%;
    height: 3px;
    margin-top: -2px;
}

.btn-action-checkmark {
	border: 1px solid #DBE9F1;
	border-radius: 2px;
	background-color: #FFFFFF;
  	width: 94px;
}

.btn-action-checkmark span, .btn-action-preview span {
	color: #2A9DDE;
	font-size: 14px;
}

.btn-action-preview span {
	color: #ffffff;
}

.btn-action-checkmark .checkmark {
  	display: inline-block;
}

.btn-action-checkmark .checkmark:after {
	content: '';
	display: block;
	width: 8px;
	height: 13px;
	border: solid #2A9DDE;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.config-header {
	border-bottom: 1px #DBE9F1 solid;
}

.config-header span {
	position: relative;
    top: 1px;
	color: #2F4365;
	font-size: 16px;
}

.frm-config label, .connect-section label {
	color: #8D8D8D;
	font-size: 12px;
}

.frm-config input, .frm-config select, .connect-section input {
	font-size: 14px;
	height: 40px;
	border: 1px solid #DBE9F1;
	border-radius: 2px;
}

.frm-config .switch {
	position: relative;
	top: -4px;
}

.frm-config label.title, .connect-section span, .more-item-number__type{
	color: #303132;
	font-size: 14px;
}

.connect-section figure {
	top: 32px;
}

.list-channels__item article {
	border-radius: 0 0 4px 4px;
	/* background: linear-gradient(180deg, rgba(49,63,33,0) 0%, #313F21 100%);	 */
	background: linear-gradient(180deg, #313F21 0%, #313F21 100%);
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.1);
	width: 100%;
	height: 406px;
}


.list-channels__item section.mask {
	background-color: #000;
	opacity: 0.5;
}

.list-channels__item section.item-description {
	z-index: 2;
	font-size: 14px;
	line-height: 20px;
}

.list-channels__item section.item-description h5 {
	font-size: 20px;
}

.list-channels__item section.mask, .list-channels__item section.item-description {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.card-body .list-group-item:hover {
	z-index: 3;
}

.card-body .list-group-item:last-child {
	/*border-bottom: 1px solid #DBE9F1;*/
}

.card-body .list-group-item {
	border-right: 0;
	border-left: 0;
    border-top: 0;
    border-bottom: 2px #DBE9F1 solid;
    /*z-index: 1;*/
}

.list-group-item:focus, .list-group-item:hover {
	/*z-index: 0;*/
}

.card-body .list-group-item section {
	display: inline-block;
}

.card-body .list-group-item p strong {
	color: #303132;
	font-size: 16px;
	font-weight: 600;
}

.more-item-number__detail {
	color: #8D8D8D;	font-size: 14px;
	display: flex;
		align-items: center;
		line-height: 20px;
}

p.folder-header {
    cursor: pointer;
}

p.folder-header:hover .group-actions {
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.connect-section span.connect-text {
	position: relative;
	top: 3px;
}

#email.form-control {
	border: 1px solid #DBE9F1;
	border-radius: 2px;
	color: #C0C0C0;
	font-size: 14px;
	height: 40px;
	width: 300px;
	background-color: #FFFFFF;
}

p.view i {
	width: 16px;
	height: 16px;
	display: inline-block;	
	margin-left: 10px;
	cursor: pointer;
}

p.view i.icon-view-list {
	background: url('../icons/list.png') no-repeat;
}

p.view i.icon-view-folder {
	background: url('../icons/folder.png') no-repeat;
}

.list-group-item {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

#preview-date #email.form-control {
	width: 200px;
}
.bg-header {
	background-color: #FBFBFB;
    height: 50px;
    line-height: 50px;
}

.btn-dashboard-type, .btn-dashboard-type strong, .btn-dashboard-type span {
	height: 30px;
	width: 80px;
	border-radius: 15px;
}

.btn-dashboard-type span {
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}

.btn-dashboard-type strong {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.btn-dashboard-type.btn-type-free strong {
	background-color: #2F4365;
	opacity: 0.05;
}

.btn-dashboard-type.btn-type-free span {
	color: #2F4365;
}

.btn-dashboard-type.btn-type-basic strong {
	background-color: #03C78A;
	opacity: 0.1;
}

.btn-dashboard-type.btn-type-basic span {
	color: #03C78A;
}

.btn-dashboard-type.btn-type-pro strong {
	background-color: #FE9B1E;
	opacity: 0.1;
}

.btn-dashboard-type.btn-type-pro span {
	color: #FE9B1E;
}

.config-device {
	height: 634px;	width: 527px;	border-radius: 4px;	background-color: #F3F3F3;
}

.config-device header {
	border-bottom: 1px #DBE9F1 solid;
}

.config-device header span {
	color: #8D8D8D;
	font-size: 12px;
	font-weight: bold;
}

.config-device__icons i {
    height: 34px;
    width: 34px;
    border: 1px solid #2A9DDE;
    border-radius: 0 2px 2px 0;
    background-color: #E9F5FB;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.config-device__icons i.icon-selected {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	margin-right: -2px;
}

.config-device__icons i.icon-monitor {
	background-image: url('../icons/icon-monitor.png');
}

.config-device__icons i.icon-mobile {
	background-image: url('../icons/mobile.png');
}

.config-device main .config-device__image {
    background: url('../images/icon-iphone.svg') no-repeat;
    background-size: contain;
    height: 518px;
    width: 254px;
    border-radius: 1.5px;
}

.config-device main .config-device__image span {
    background: white;
    position: absolute;
    top: 63px;
    left: 17px;
    bottom: 65px;
    right: 18px;
}

.btn-action-preview.btn-download {
    height: 34px;
    width: 120px;
    border-radius: 2px;
    background-color: #2A9DDE;
    font-size: 14px;
}

.popover.popover-calender-container {
    height: 210px;
    width: 430px;
    max-width: 430px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1);
    left: -18px !important;
}

#txtCalender:after {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;

}
