<div class="row mx-0 pagination" style="border-bottom:none;" *ngIf="total > 0">
  <div *ngIf="showInfo" class="col-sm-12 col-md-5 pl-0">
    <!-- <div class="dataTables_info" [class.text-small]="isSm" id="dataTable1_info" role="status" aria-live="polite">
      {{ total | i18nPlural: { '=1': 'Displaying "start" - "end" of "total" record', 'other': 'Displaying "start" - "end" of
      "total" records' } | translate: { start: start, end: end, total: total } }}</div> -->
  </div>
  <div class="col-sm-12 pr-0" [class.col-md-7]="showInfo">
    <div class="dataTables_paginate paging_simple_numbers" id="dataTable1_paginate">
      <!-- <ul class="pagination mb-0" [class.pagination-sm]="isSm" *ngIf="useLink">
        <li class="paginate_button page-item previous" id="dataTable1_previous" [class.disabled]="page == 1">
          <a [routerLink]="[root, getLink(page - 1) ]" [class.disabled]="page == 1" class="page-link">
            <i class="far fa-angle-left"></i>
          </a>
        </li>
        <li class="paginate_button page-item" *ngFor="let p of pages" [class.active]="page == p">
          <a [routerLink]="[root, getLink(p)]" class="page-link">{{ p }}</a>
        </li>
        <li class="paginate_button page-item next" id="dataTable1_next" [class.disabled]="page == totalPages || !totalPages">
          <a [routerLink]="[root, getLink(page + 1)]" [class.disabled]="page == totalPages" class="page-link">
            <i class="far fa-angle-right"></i>
          </a>
        </li>
      </ul> -->
      <ul class="pagination mb-0" [class.pagination-sm]="isSm" *ngIf="!useLink">
        <li class="page-item">
          <a (click)="change.emit({ page: page - 1 })" [class.disabled]="page == 1" class="page-link">
            Previous
          </a>
        </li>
        <li class="page-item" *ngFor="let p of pages" [class.active]="page == p">
          <a (click)="change.emit({ page: p })" class="page-link">{{ p }}</a>
        </li>
        <li class="page-item" [class.disabled]="page == totalPages || !totalPages">
          <a (click)="change.emit({ page: page + 1 })" [class.disabled]="page == totalPages" class="page-link">
            Next
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
