<section class="container-fluid">
  <main id="mx-4">
    <section class="header d-flex justify-content-between my-3 align-items-center">
      <div class="pl-3">
        <form [formGroup]="form">
          <div class="form-group">
            <input type="text" class="form-control mr-2 input-name-custom border-0" id="name" formControlName="name" (focusout)="changeName()">
          </div>
        </form>
      </div>
      <ul class="list-inline list-navigation d-flex align-items-center mb-0">
        <li class="list-inline-item" [class.active]="selectedReference == index" (click)="selectedReference = index" *ngFor="let item of references, let index = index"><a [routerLink]="['/my-plugin', pluginUserId, item | lowercase]">{{item}}</a></li>
        <li class="list-inline-item">
            <label class="switch mb-0">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </li>
      </ul>
  </section>
  <router-outlet></router-outlet>
  </main>
</section>