<section class="d-flex justify-content-end border-bottom mb-4">
  <form [formGroup]="form" class="form-inline position-relative bg-white pl-3" style="top: 2px">
    <div class="form-group">
      <input type="text" class="form-control mr-2" id="email" placeholder="Email" formControlName="email">
    </div>
    <button type="button" class="btn btn-primary text-white" style="height: 40px" (click)="createMember()">
      <span class="pl-2">Add member</span>
    </button>
  </form>
</section>
<ul class="list-group list-group-flush list-group-account">
  <li class="list-group-item bg-header py-3">
    <div class="row align-items-center">
      <div class="col-4">Name</div>
      <div class="col-3">Email</div>
      <div class="col-4">Function</div>
      <div class="col-1"></div>
    </div>
  </li>
  <li *ngFor="let member of members, let index = index" class="list-group-item">
    <div class="row align-items-center">
      <!-- <div class="col-4" (click)="clickedmemberRow(member); clickedmemberId = member?.id" *ngIf="!clickedUpdate || clickedmemberId != member?.id">{{member?.name}}</div>
          <div class="col-4" *ngIf="clickedUpdate && clickedmemberId == member?.id">
            <form [formGroup]="form">
              <div class="form-group">
                <input type="text" class="form-control mr-2" id="name" formControlName="name" (focusout)="updatemember(); clickedUpdate = false">
              </div>
            </form>
          </div> -->
      <div class="col-4">{{member?.name}}</div>
      <div class="col-3">{{member?.email}}</div>
      <div class="col-4">
        <button type="button" class="btn text-white" [ngClass]="member?.role === 'member' ? 'btn-action-checkmark ' : 'btn-primary'" (click)="changeRoleMember('admin', member?.id)">
          <strong class="checkmark"></strong>
          <span class="pl-2">Admin</span>
        </button>
        <button type="button" class="btn btn-primary text-white" [ngClass]="member?.role === 'admin' ? 'btn-action-checkmark ' : 'btn-primary'" (click)="changeRoleMember('member', member?.id)">
          <strong></strong>
          <span class="pl-2">Member</span>
        </button>
      </div>
      <div class="col-1 d-flex">
        <i class="icon-folder icon-delete" (click)="deleteMember(member.id)"></i>
      </div>
    </div>
  </li>
</ul>
<!-- <footer class="d-flex justify-content-between mt-3 px-4">
    <pagination [showInfo]="false" [total]="total" [quantity]="quantity" [page]="page" [length]="members?.length"
    [totalPages]="totalPages" (change)="onChangePage($event)" [useLink]="false">
    </pagination>
  </footer> -->