<ng-progress  [minimum]="0.15" [maximum]="1" [speed]="200" [ease]="'linear'" [meteor]="true"
              [spinner]="false" [spinnerPosition]="'left'" [direction]="'leftToRightIncreased'"
              [color]="'red'" [trickleSpeed]="250" [thick]="false"
></ng-progress>
<router-outlet></router-outlet>
<div toastContainer></div>
<ngx-spinner
bdColor = "#d5f3f1"
size = "large"
color = "#32ae28"
type = "timer"></ngx-spinner>