<section id=list>
    <section class="search d-flex justify-content-between my-5 px-4">
        <div class="form-group has-search position-relative mb-0">
          <span class="icon-search form-control-feedback"></span>
          <input type="text" class="form-control border-0" placeholder="Type your search...">
        </div>
        <div class="col-2">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Chatfuel</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </section>
      <main class="mx-4 list-channels">
        <div class="row mb-5">			
          <div class="col-lg-3 col-md-3 mb-5 list-channels__item" *ngFor="let plugin of plugins">
            <article class="position-relative">
              <section class="item-image">
                  <div class="imageItem" style="height: 304px; background: url('./asset/images/fake.jpg') center center; background-size: cover"></div>								
              </section>
              <div class="wrapContent position-absolute w-100">
                  <section class="item-description p-3 d-flex flex-column justify-content-between text-white">
                    <div class="wrapShow">
                        <h5 class="font-weight-bold">{{plugin.name}}</h5>
                        <p class="d-flex flex-row mb-3">
                          <i class="icon customType1 customIcon1 mr-2"></i>
                          <i class="icon customType1 customIcon2 mr-2"></i>
                          <i class="icon customType1 customIcon3"></i>
                        </p>	
                        <p>{{plugin.desc}}</p>																									
                    </div>		
                    <div>
                        <button type="button" class="btn btn-action-preview text-white w-100 py-3 font-weight-bold" data-toggle="modal" data-target="#myModal" (click)="selectedPlugin = plugin">
                          <span>Preview</span> 
                        </button>
                      </div>
                  </section>
              </div>
            </article>
          </div>		
        </div>	
      </main>
</section>

	<!-- The Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog modal-lg customModal modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">					
					<h4 class="modal-title mb-2 mt-3 d-flex">
						<strong>{{selectedPlugin?.name}}</strong>
						<span>
						  <img src="../../../assets/icons/icon456.svg" width="24" height="24"><img src="../../../assets/icons/icon123.svg" width="24" height="24">
						</span>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">					
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Preview</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createPluginUser(selectedPlugin)">Active</button>
				</div>

			</div>
		</div>
	</div>