<section id="preview">
    <main class="mx-4">
				<section class="header d-flex justify-content-between my-3 align-items-center">
						<h2 class="mb-0">Basic form plugin</h2>
						<ul class="list-inline list-navigation d-flex align-items-center mb-0">
							<li class="list-inline-item"><a href="#">Config</a></li>
							<li class="list-inline-item"><a href="#">Data</a></li>
							<li class="list-inline-item active"><a href="#">User</a></li>
							<li class="list-inline-item">
								<label class="switch mb-0">
										<input type="checkbox" checked>
										<span class="slider round"></span>
								</label>
							</li>
						</ul>
					</section>
					<section class="d-flex justify-content-end border-bottom mb-4">
						<form [formGroup]="form" class="form-inline position-relative bg-white pl-3" style="top: 2px">
							<div class="form-group">
								<input type="text" class="form-control mr-2" id="email" placeholder="Email" formControlName="email">
							</div>
							<button type="button" class="btn btn-primary text-white" style="height: 40px" (click)="createUserUsingEmail()">
								<span class="pl-2">Add user</span>
							</button>
						</form>
					</section>
			<ul class="list-group list-group-flush list-group-account">
				<li class="list-group-item bg-header py-3">
					<div class="row align-items-center">
						<div class="col-4">Name</div>
						<div class="col-3">Email</div>
						<div class="col-4">Function</div>
						<div class="col-1"></div>
					</div>
				</li>	
				<li *ngFor="let user of users, let index = index" class="list-group-item">					
					<div class="row align-items-center">
						<!-- <div class="col-4" (click)="clickedUserRow(user); clickedUserId = user?.id" *ngIf="!clickedUpdate || clickedUserId != user?.id">{{user?.name}}</div>
						<div class="col-4" *ngIf="clickedUpdate && clickedUserId == user?.id">
							<form [formGroup]="form">
								<div class="form-group">
									<input type="text" class="form-control mr-2" id="name" formControlName="name" (focusout)="updateUser(); clickedUpdate = false">
								</div>
							</form>
						</div> -->
						<div class="col-4">{{user?.name}}</div>
						<div class="col-3">{{user?.email}}</div>
						<div class="col-4">
							<button type="button" class="btn btn-action-checkmark text-white">
								<strong class="checkmark"></strong><span class="pl-2">Config</span>
							</button>
							<button type="button" class="btn btn-action-checkmark text-white">
								<strong class="checkmark"></strong><span class="pl-2">Data</span>
							</button>
							<button type="button" class="btn btn-primary text-white">
								<strong></strong><span class="pl-2">User</span>
							</button>
						</div>
						<div class="col-1 d-flex"><i class="icon-folder icon-delete" (click)="deleteUser(user.id)"></i></div>
					</div>
				</li>
			</ul>		 	
		</main>
		<!-- <footer class="d-flex justify-content-between mt-3 px-4">
			<pagination [showInfo]="false" [total]="total" [quantity]="quantity" [page]="page" [length]="users?.length"
			[totalPages]="totalPages" (change)="onChangePage($event)" [useLink]="false">
		  </pagination>
		</footer> -->
</section>