<section id="dashboard">
  <section class="search d-flex justify-content-between my-5 px-4">
    <div class="form-group has-search position-relative">
      <span class="icon-search form-control-feedback"></span>
      <input type="text" class="form-control border-0" placeholder="Type your search...">
    </div>
    <p class="view">
      <i class="icon-view-list" (click)="collapseOne = false && collapseTwo = false"></i>
      <i class="icon-view-folder" (click)="collapseOne = true && collapseTwo = true"></i>
    </p>
  </section>
  <main>
    <div id="accordion">
      <div class="card border-0">
        <div class="card-header bg-white border-0">
          <p class="d-flex justify-content-between mb-0 pb-2 folder-header">
            <a class="card-link collapsed text-uppercase position-relative bg-white pr-3" (click)="collapseOne = !collapseOne" aria-expanded="false">
              <input type="text" class="form-control d-inline-block border-0" value="folder name">
              <span class="badge ml-2">10</span>
            </a>

            <span class="d-none align-items-center position-relative bg-white pl-3 group-actions">
              <i class="icon-folder icon-delete"></i>
              <i class="icon-folder icon-arrow-down"></i>
              <i class="icon-folder icon-arrow-up"></i>
              <a class="card-link collapsed text-uppercase position-relative bg-white" style="top: 3px;"  (click)="collapseOne = !collapseOne">
                <i *ngIf="collapseOne" class="icon-folder icon-expand"></i>
                <i *ngIf="!collapseOne" class="icon-folder icon-expand icon-collapse"></i>
              </a>
            </span>
          </p>
        </div>

        <div [collapse]="collapseOne" class="collapse" style="">
          <div class="card-body">
            <ul class="list-group list-group-horizontal flex-column">
              <li class="list-group-item w-100 px-2">
                <article class="col-12  d-flex align-items-center">
                  <section class="col-3 p-0">
                    <p class="m-0 font-weight-bold"><span class="text-center icon-folder icon-title-folder-header mr-2"><i></i></span><strong>Servey Plugin</strong></p>
                    <p class="m-0 more-item-number__detail"><i class="icon-folder icon-title-folder mr-2"></i>ID: 12345678</p>
                  </section>
                  <section class="col-3 p-0">
                    <p class="m-0 more-item-number__type">Plugin type</p>
                    <p class="m-0 more-item-number__detail">11/03/19</p>
                  </section>
                  <section class="col-2 p-0">
                    <p class="mb-0">
                      <span class="btn-dashboard-type btn-type-free position-relative d-block">
                        <strong></strong><span>Free</span>
                      </span>
                    </p>
                    <p class="m-0 more-item-number__detail"><small>Ex: 11/03/2019</small></p>
                  </section>
                  <section class="col-3 p-0">
                    <p class="p-0 d-flex align-items-center mb-0 justify-content-end">
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle more-item-number text-center d-inline-block image-dimension mr-2">+5</i>
                    </p>
                  </section>
                  <div class="col-1 p-0 d-flex align-items-center justify-content-end" dropdown>
                    <i dropdownToggle  class="icon-action d-inline-block" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                      <a class="dropdown-item px-0 py-2 text-center" href="#">Move</a>
                      <a class="dropdown-item p-0 text-center" href="#">Clone</a>
                      <hr />
                      <a class="dropdown-item p-0 text-center text-danger" href="#">Delete</a>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header bg-white border-0">
          <p class="d-flex justify-content-between mb-0 pb-2 folder-header">
            <a class="card-link collapsed text-uppercase position-relative bg-white pr-3" (click)="collapseTwo = !collapseTwo">
              <input type="text" class="form-control d-inline-block border-0" value="folder name">
              <span class="badge ml-2">10</span>
            </a>

            <span class="d-none align-items-center position-relative bg-white pl-3 group-actions">
              <i class="icon-folder icon-delete"></i>
              <i class="icon-folder icon-arrow-down"></i>
              <i class="icon-folder icon-arrow-up"></i>
              <a class="card-link collapsed text-uppercase position-relative bg-white" style="top: 3px;" (click)="collapseTwo = !collapseTwo">
                <i *ngIf="collapseTwo" class="icon-folder icon-expand"></i>
                <i *ngIf="!collapseTwo" class="icon-folder icon-expand icon-collapse"></i>
              </a>
            </span>
          </p>
        </div>

        <div [collapse]="collapseTwo" class="collapse" style="">
          <div class="card-body">
            <ul class="list-group list-group-horizontal flex-column">
              <li class="list-group-item w-100 px-2">
                <article class="col-12  d-flex align-items-center">
                  <section class="col-3 p-0">
                    <p class="m-0 font-weight-bold"><span class="text-center icon-folder icon-title-folder-header mr-2"><i></i></span><strong>Servey Plugin</strong></p>
                    <p class="m-0 more-item-number__detail"><i class="icon-folder icon-title-folder mr-2"></i>ID: 12345678</p>
                  </section>
                  <section class="col-3 p-0">
                    <p class="m-0 more-item-number__type">Plugin type</p>
                    <p class="m-0 more-item-number__detail">11/03/19</p>
                  </section>
                  <section class="col-2 p-0">
                    <p class="mb-0">
                      <span class="btn-dashboard-type btn-type-free position-relative d-block">
                        <strong></strong><span>Free</span>
                      </span>
                    </p>
                    <p class="m-0 more-item-number__detail"><small>Ex: 11/03/2019</small></p>
                  </section>
                  <section class="col-3 p-0">
                    <p class="p-0 d-flex align-items-center mb-0 justify-content-end">
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle bg-secondary d-inline-block image-dimension mr-2"></i>
                      <i class="rounded-circle more-item-number text-center d-inline-block image-dimension mr-2">+5</i>
                    </p>
                  </section>
                  <div class="col-1 p-0 d-flex align-items-center justify-content-end" dropdown>
                    <i dropdownToggle  class="icon-action d-inline-block" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="actions">
                      <a class="dropdown-item px-0 py-2 text-center" href="#">Move</a>
                      <a class="dropdown-item p-0 text-center" href="#">Clone</a>
                      <hr />
                      <a class="dropdown-item p-0 text-center text-danger" href="#">Delete</a>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<button class="btn btn-primary" (click)="testFunction()">TEST</button>